<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>1804_Manpower</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>UserServlet</display-name>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>com.qf.metting.controll.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/UserServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>EmployeeServlet</display-name>
		<servlet-name>EmployeeServlet</servlet-name>
		<servlet-class>com.qf.metting.controll.EmployeeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmployeeServlet</servlet-name>
		<url-pattern>/emps</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DeptServlet</display-name>
		<servlet-name>DeptServlet</servlet-name>
		<servlet-class>com.qf.metting.controll.DeptServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeptServlet</servlet-name>
		<url-pattern>/depts</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>StaffServlet</display-name>
		<servlet-name>StaffServlet</servlet-name>
		<servlet-class>com.qf.metting.controll.StaffServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StaffServlet</servlet-name>
		<url-pattern>/staffs</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>NoticeServlet</display-name>
		<servlet-name>NoticeServlet</servlet-name>
		<servlet-class>com.qf.metting.controll.NoticeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NoticeServlet</servlet-name>
		<url-pattern>/notices</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DownloadServlet</display-name>
		<servlet-name>DownloadServlet</servlet-name>
		<servlet-class>com.qf.metting.controll.DownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownloadServlet</servlet-name>
		<url-pattern>/downs</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>LoginAututicationFilte</filter-name>
		<filter-class>com.qf.metting.filter.LoginAututicationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginAututicationFilte</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>ChacterFilter</filter-name>
		<filter-class>com.qf.metting.filter.ChacterFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ChacterFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>